@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
    /* styles */
}

body
{
    background-image: url('img-1.0.7.png');
	background-size: cover;
}

.submit-button {
position: absolute;
width: 600px;
height: 100px;
left: 45px;
top: 578px;
background: #6E8658;
border-radius: 15px;
font-family: Sniglet;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 30px;
position: fixed;
transform: translate(25%, 800%);

text-align: center;

color: #FFFFFF;
}

.submit-button:hover {
    background-color: #FFFFFF;
    color: #6E8658;
    transition: 0.5s;
}

.logo {
position: fixed;
top: 10%;
left: 25%;
width: 45%;
}
