@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
    /* styles */
}

body
{
    background-image: url('img-4.png');
	background-size: cover;
	text-align: center;
	font-family: 'Sniglet', cursive;
}

.submit-button-1 {
position: absolute;
width: 600px;
height: 100px;
left: 45px;
top: 578px;
background: #6E8658;
border-radius: 15px;
font-family: Sniglet;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 30px;
position: fixed;
transform: translate(22%, 0%);

text-align: center;

color: #FFFFFF;
}

.submit-button-1:hover {
    background-color: #FFFFFF;
    color: #6E8658;
    transition: 0.5s;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  line-height: 5em;
}

div.form
{
    display: block;
    text-align: center;
    transform: translate(0%, 210%);
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 50px;
}

